
<div style="text-align: center;">
  <div class="nav-container">
    <h1>DeJa Video</h1>
    <div class="nav-links">
      <span style="text-align: center;">MAIN:</span>
      <hr>
      <a href="/">Disk Jockeys</a>
      <br />
      <span style="text-align: center;"><%- diskJockeyId %>:</span>
      <hr>
      <a href="/diskJockeys/queue/<%- diskJockeyId %>">Queue</a>
      <a href="/diskJockeys/timeline/<%- diskJockeyId %>">Timeline</a>
    </div>
  </div>
</div>