<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeJa Video</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <%- include('style'); %>
</head>
<body>
  <%- include('navigation'); %> 
  Disk Jockeys
  <a href="/diskJockeys/timeline/dj123">dj123</a>
</body>
</html>