<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DJ Video Queue</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <%- include('style'); %> 
</head>
<body>
  <h1>DeJa Video</h1>

  <div id="add-video-form">
    <h2>Queue Video Event</h2>
    <form hx-post="/video-timeline" hx-target="#video-queue" hx-swap="afterbegin">
      <select name="channelId" hx-get="/youtube-channels/options/dj123" hx-target="this" hx-trigger="load" hx-swap="innerHTML">
        <%- include('partials/channel-options', { channels: [] }); %>
      </select>
      
      <select id="playlist-select" name="playlistId" hx-get="/youtube-playlists" hx-target="#video-select" hx-trigger="change">
        <option value="">Select a Playlist</option>
      </select>
      
      <select id="video-select" name="videoId">
        <option value="">Select a Video</option>
      </select>
      
      <label for="publishDateTime">Publish Date and Time:</label>
      <input type="datetime-local" id="publishDateTime" name="publishDateTime" required>
      
      <input type="hidden" name="userId" value="dj123">
      <button type="submit">Queue Video</button>
    </form>
  </div>
  <br />
  <div id="video-queue">
    <!-- This section will be populated with video items -->
  </div>

  <div id="add-channel-form">
    <h2>Add YouTube Channel</h2>
    <form hx-post="/youtube-channels" hx-target="#channel-list" hx-swap="beforeend">
      <input type="text" name="channelId" placeholder="YouTube Channel ID" required>
      <input type="hidden" name="userId" value="dj123">
      <button type="submit">Add Channel</button>
    </form>
  </div>
  <br />
  <div id="channel-list">
    <%- include('partials/channel-list', { channels: [] }); %>
  </div>

  <script>
    // Load initial video queue
    htmx.ajax('GET', '/video-timeline/dj123', {target: '#video-queue', swap: 'innerHTML'});
    
    // Load initial channel list
    htmx.ajax('GET', '/youtube-channels/options/dj123', {target: 'select[name="channelId"]', swap: 'innerHTML'});

    // Load initial added channels
    htmx.ajax('GET', '/youtube-channels/list/dj123', {target: '#channel-list', swap: 'innerHTML'});
  </script>
</body>
</html>