
<div style="text-align: center;">
  <div class="nav-container">
    <h1>DeJa Video</h1>
    <div class="nav-links">
      <span style="text-align: center;">AUTH:</span>
      <hr>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </div>
</div>